<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item
         *ngIf="!auth.isAuthenticated()"
         (click)="auth.login()">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">{{'app.login' | translate}}</span>
      </a>
      <a mat-list-item
         *ngIf="auth.isAuthenticated()"
         routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">{{'app.home' | translate}}</span>
      </a>
      <a mat-list-item
        *ngIf="dashboardVisible"
         routerLink="/dashboard">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">{{'app.dashboard' | translate}}</span>
      </a>
      <a  mat-list-item
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">{{'app.logout' | translate}}</span>
      </a>
      <mat-form-field>
        <mat-select>
          <mat-option *ngFor="let language of languages" [value]="language.value">{{language.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          {{'app.material-blog' | translate}}
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a
              *ngIf="!auth.isAuthenticated()"
              (click)="auth.login()">
              <mat-icon class="icon">input</mat-icon>
              <span  class="label">{{'app.login' | translate}}</span>
            </a>
          </li>
          <li>
            <a
              *ngIf="auth.isAuthenticated()"
              routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">{{'app.home' | translate}}</span>
            </a>
          </li>
          <li>
            <a
            *ngIf="dashboardVisible"
              routerLink="/dashboard">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">{{'app.dashboard' | translate}}</span>
            </a>
          </li>
          <li>
            <a
              *ngIf="auth.isAuthenticated()"
              (click)="auth.logout()" type="button"
            >
              <mat-icon class="icon">input</mat-icon>
              <span class="label">{{'app.logout' | translate}}</span>
            </a>
          </li>
          <li>
            <mat-form-field>
              <mat-select [value]="selectedLanguage" (selectionChange)="onChangeLanguage($event)">
                <mat-option *ngFor="let language of languages" [value]="language.value">{{language.label | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
